body{background-color: lightblue}
        .cap1{background-color: lightskyblue;
        font-size: 30px;
        font-weight: bold;
        }
        .cap1-1{font-size: 20px;
        color: darkred;
        margin-top: 15px;
        font-weight: bold;}
        .cap1-2{font-size: 20px;
        color: darkred;
        margin-top: 15px;
        font-weight: bold;}
        .cap2{background-color: lightskyblue;
        font-size: 30px;
        font-weight: bold;
        }
        .cap2-1{font-size: 20px;
        color: darkred;
        margin-top: 15px;
        font-weight: bold;}